<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  version="3.0"
  metadata-complete="true">
	<servlet>
		<servlet-name>LoginService</servlet-name>
		<servlet-class>pl.edu.pw.mini.sozpw.webinterface.server.LoginServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginService</servlet-name>
		<url-pattern>/coreview/loginservice</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>NoteService</servlet-name>
		<servlet-class>pl.edu.pw.mini.sozpw.webinterface.server.NoteServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NoteService</servlet-name>
		<url-pattern>/coreview/noteservice</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>GroupService</servlet-name>
		<servlet-class>pl.edu.pw.mini.sozpw.webinterface.server.GroupServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GroupService</servlet-name>
		<url-pattern>/coreview/groupservice</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RegistrationServlet</servlet-name>
		<servlet-class>pl.edu.pw.mini.sozpw.webinterface.server.RegistrationServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegistrationServlet</servlet-name>
		<url-pattern>/registrationService</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>FileUploadServlet</servlet-name>
		<servlet-class>pl.edu.pw.mini.sozpw.webinterface.server.FileUploadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FileUploadServlet</servlet-name>
		<url-pattern>/FileUploadServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AttachmentServlet</servlet-name>
		<servlet-class>pl.edu.pw.mini.sozpw.webinterface.server.AttachmentServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AttachmentServlet</servlet-name>
		<url-pattern>/attachmentservice</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>QueryServlet</servlet-name>
		<servlet-class>pl.edu.pw.mini.sozpw.webinterface.server.QueryServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>QueryServlet</servlet-name>
		<url-pattern>/dedicationQuery</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>main.html</welcome-file>
	</welcome-file-list>
	<!-- TODO: Add <servlet> tags for each servlet here. -->
	<!-- TODO: Add <servlet-mapping> tags for each <servlet> here. -->
	<!-- TODO: Optionally add a <welcome-file-list> tag to display a welcome 
		file. -->
</web-app>
